<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rcord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE6A0A801EC452A700330CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE6A0A9C1EC452A800330CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE6A0AA71EC452A800330CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
